<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.happyhouse.model.mapper.IFavoriteMapper">
    <delete id="deleteFavorite" parameterType="com.ssafy.happyhouse.model.dtos.FavoriteDto">
		delete from favorite where regionCode = #{regionCode} and userId = #{userId}
    </delete>
    
    <insert id="insertFavorite" parameterType="com.ssafy.happyhouse.model.dtos.FavAddressDto">
		insert into favorite (regionCode, dong, userid) values (#{regionCode}, #{dong}, #{userId})
    </insert>
    
    <select id="selectFavoriteAll"
			    parameterType="string"
			    resultType="com.ssafy.happyhouse.model.dtos.FavAddressDto">
        select f.regioncode, s.sido, s.gugun, s.dong
        	from favorite as f 
        	inner join sidogu as s on (s.code like concat(f.regioncode, '%')) and s.dong = f.dong
			where userId = #{id}
    </select>
    
    <select id="selectFavoriteByUserId"
			    parameterType="com.ssafy.happyhouse.model.dtos.FavAddressDto"
			    resultType="com.ssafy.happyhouse.model.dtos.FavoriteDto">
        select * from favorite where userId = #{userId} and dong = #{dong}
    </select>
</mapper>